:root {
    --MenuBar-height: 100px;
}
body {
    background: repeating-linear-gradient(
        90deg,
        rgba(0, 0, 255, 0.6) 0%,
        rgba(0, 0, 255, 0.4) 20%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 0, 0, 0.4) 80%,
        rgba(255, 0, 0, 0.6) 100%
        );
}

#MenuBar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0%;
    height: var(--MenuBar-height);
    padding: 10px 3%;
    background-color: rgba(150, 70, 0, 0.7);
    border: 0px solid white;
    border-radius: 0px 0px 10px 10px;
}

#MenuList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#TopSpacer {
    height: var(--MenuBar-height);
}

#credits {
    position: relative;
    bottom: 0%;
}

.body {
    position: relative;
    left: 2%;
}

.menu {
    display: inline;
}

p {
    font-size: 18px;
}

h3 {
    font-size: 1.3em;
}